.container-carteView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    margin-top: 100px;
  }
 
  .img-carteView {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: zoom-in;
  }
  