.produit-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    border-radius: 10px;
}

.produit-titre {
    text-align: center;
    color: #b34700;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.produit-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.produit-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 450px;
}

.produit-card:hover {
    transform: translateY(-5px);
}

.produit-image-container {
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.produit-image {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.produit-details {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.produit-nom {
    font-size: 1.5rem;
    color: #d35400;
    margin: 10px 0;
}

.produit-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.produit-prix {
    font-size: 1.3rem;
    font-weight: bold;
    color: #446c22;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add {
    background-color: #C0392B;
    color: #fff;
    margin: 5px auto 20px auto;
    
}

.btn-add:hover {
    background-color: #cf711c;
}

.btn-edit {
    background-color: #3498db;
    color: #fff;
}

.btn-delete {
    background-color: #e74c3c;
    color: #fff;
}

@media (max-width: 768px) {
    .produit-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .produit-image {
        height: 200px;
    }
}
