.containerImgCategorieHome {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; /* Aligne les images en haut */
  margin: 0 auto;
  max-width: 1200px;
  z-index: 200; /* Superpose les images sur le fond */
  position: relative;
  margin-top: -100px; /* Chevauche les images sur le fond */
  opacity: 0; /* Caché par défaut */
  transform: translateY(50px); /* Décalage pour l'effet d'entrée */
  transition: opacity 1.5s ease, transform 1.5s ease; /* Transition fluide */
}

.containerImgCategorieHome.animate {
  opacity: 1; /* Devient visible */
  transform: translateY(0); /* Repositionne à l'emplacement initial */
}

.categoryImage {
  width: calc(25% - 10px); /* Divise l'espace en quatre colonnes avec un écart */
  object-fit: cover; /* Gère le ratio des images */
  border: none; /* Supprime toute bordure */
  transition: transform 0.3s ease; /* Ajoute une animation de survol */
}

.categoryImage:hover {
  transform: scale(1.1); /* Effet de zoom au survol */
}



.imgFar {
  display: flex;
  justify-content: center;
  gap: 60px; /* Plus d’espace entre les cartes */
  flex-wrap: wrap; /* Permet de s'adapter sur petits écrans */
}

.imgFar img {
  width: 350px; 
  height: auto;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgFar img:hover {
  transform: scale(1.05); /* Zoom léger au survol */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Accentuation de l’ombre */
}

.imgFar img:focus {
  outline: 3px solid #7b0c10; 
}

.produitFar {
  padding: 20px;
  background-color: #fafafa; /* Fond léger pour contraster */
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.title-far {
  font-size: 2.5rem;
  color: #7b0c10; /* Rouge foncé pour rappeler l'Italie */
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.containerSvg {
  position: relative;
}

.wave {
  width: 100%;
}

.contentSvg {
  width: 100%;
  height: 300px;
  background-color: #b71c1c; /* Fond rouge */
  margin-top: -30px;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  text-align: center; /* Centrer le texte */
}
.fidelityText {
  color: #fff; /* Texte en blanc */
  font-family: 'Arial', sans-serif; /* Police élégante */
  max-width: 800px; /* Largeur maximale pour le texte */
  line-height: 1.6; /* Espacement des lignes */
  padding: 10px; /* Espacement intérieur */
}

.h2HomeFidelite {
  font-size: 2rem; /* Taille du titre */
  font-weight: bold; /* Mettre en gras */
  margin-bottom: 10px; /* Espacement sous le titre */
  color: #fafafa;
}

.fidelityText p {
  font-size: 1.2rem; /* Taille des paragraphes */
  margin-bottom: 8px; /* Espacement entre les paragraphes */
}

.fidelityText strong {
  color: #ffd700; /* Couleur dorée pour les valeurs importantes */
}

.fidelityText em {
  position: absolute;
  right: -200px;
  font-size: 0.9rem; 
  font-style: italic; 
  color: #fafafa; 
}

.fidelityText {
  opacity: 0; /* Caché par défaut */
  transform: translateY(-50px); /* Positionné au-dessus */
  transition: opacity 1.5s ease, transform 1.5s ease; /* Animation lente */
}

.fidelityText.animate {
  opacity: 1; /* Devient visible */
  transform: translateY(0); /* Repositionné à l'emplacement initial */
}
.serviceHome {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  
}

.serviceHome h2 {
  
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #7b0c10; 
}

.services-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  align-items: center; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 10px; 
}


.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 150px; 
  margin: 0; 
}

.service-item .icon {
  width: 60px; 
  height: auto; 
  margin-bottom: 10px; 
}

.service-item p {
  font-size: 1rem;
  color: #4a4a4a;
  text-align: center;
}

.section-options {
  text-align: center;
  padding: 60px 20px; /* Ajoute plus d'espace pour un effet visuel agréable */
  margin-top: 30px;
  background-image: url(../assets/images/interieur3.webp); /* Image d'intérieur du restaurant */
  background-attachment: fixed; /* Création de l'effet parallax */
  background-position: center; /* Centre l'image */
  background-size: cover; /* Fait en sorte que l'image remplisse le conteneur */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  color: #fff; 
  position: relative;
  z-index: 1;

}
.section-options::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Assombrit l'image (50% noir) */
  
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}
.contenu-texte {
  max-width: 800px; /* Limite la largeur du texte */
  margin: 0 auto; /* Centre le contenu */
  text-align: center; /* Centre le texte */
}

.contenu-texte h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

.contenu-texte p {
  font-size: 1.3rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 30px;
}
.btn-commander {
  display: inline-block;
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e63946; /* Rouge vif */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; /* Supprime le soulignement */
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: heartbeat 1.5s infinite; /* Ajoute l'animation */
}

.btn-commander:hover {
  background-color: #c42d3a; /* Rouge légèrement plus foncé au survol */
  animation: none; /* Désactive l'animation au survol */
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1); /* Augmente légèrement la taille */
  }
  50% {
    transform: scale(1); /* Revient à la taille normale */
  }
  70% {
    transform: scale(1.1); /* Deuxième battement */
  }
  100% {
    transform: scale(1); /* Revient à la taille normale */
  }
}
.btn-consulter-horaires {
  font-size: 1rem;
  color: #fff;
  background-color: #b71c1c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-consulter-horaires:hover {
  background-color: #4a0a0a;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Fond sombre transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 70%;
  max-height: 70%;
  overflow: auto; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content img {
  max-width: 60%; /* Réduit la largeur maximale de l'image */
  max-height: 60%; /* Réduit la hauteur maximale de l'image */
  width: auto; /* Ajuste automatiquement la largeur */
  height: auto; /* Ajuste automatiquement la hauteur */
  border-radius: 10px; /* Coins arrondis pour une finition élégante */
  margin: auto; /* Centre l'image dans la modale */
  display: block; /* S'assure que l'image se comporte comme un bloc */
}


.btn-fermer-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #7b0c10;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-fermer-modal:hover {
  background-color: #4a0a0a;
}





