.categories-page {
  text-align: center;
  padding-top:100px;
  background-color: #fefefe;
}

.categories-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #b71c1c; /* Rouge pour harmoniser */
}
.banner-image {
  width: 200px;
}

.categories-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.category-item {
  width: 200px;
  text-align: center;
  background-color: transparent; /* Plus de fond blanc */
  box-shadow: none; /* Supprime l'ombre si nécessaire */
  cursor: pointer;
}

.category-image {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Arrondir légèrement les coins */
  display: block;
}


.category-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.category-details {
  padding: 15px;
}

.category-details h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0 5px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  background-color: #b71c1c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #f57c00;
}

.delete-button:hover {
  background-color: #d32f2f;
}
