.product-form-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../../../assets/images/imageFond.webp) no-repeat center center/cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.h2ProduitForm {
    text-align: center;
    color: #c0392b;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.product-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    margin-top: 80px;
    border: 2px solid #e7e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.buttonProduitForm {
    width: 150px;
    background-color: #c0392b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 20px auto 10px auto;
    display: block;
}

.buttonProduitForm:hover {
    background-color: #e74c3c;
}

.error {
    color: #e74c3c;
    text-align: center;
    margin-bottom: 15px;
}
