.hero {
  position: relative;
  height: 100vh;
  background: url('../../assets/images/imageFond.webp') center/cover no-repeat;
  display: flex;
  align-items: center; 
  color: white;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: left; /* Aligne le texte à gauche */
  max-width: 500px; /* Limite la largeur pour éviter qu’elle occupe tout l’écran */
  padding-left: 90px; /* Espace à gauche pour respirer */
}

.hero-content .h1Header {
  display: inline-block;
  background-color: #446c22;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.hero-content .h2Header {
  font-size: 2.5rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.2; 
  text-transform: uppercase;
  color: white;
  max-width: 90%; 
  white-space: nowrap; 
  
  
}


.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background: #f44336;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin-top: 1rem; /* Ajoute de l’espace entre les h2 et le bouton */
  text-align: center; /* Centre le texte dans le bouton */
  animation: heartbeat 1.5s infinite;
}

.cta-button:hover {
  background: #d32f2f;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1); /* Augmente légèrement la taille */
  }
  50% {
    transform: scale(1); /* Revient à la taille normale */
  }
  70% {
    transform: scale(1.1); /* Deuxième battement */
  }
  100% {
    transform: scale(1); /* Revient à la taille normale */
  }
}
